.carousel {
  overflow: hidden;
  width: 100%;
  background-color: #020817;
  padding: 20px 0;
}

.carousel-track {
  display: flex;
  gap: 40px;
  animation: scroll 160s linear infinite;
  align-items: center;
}

.carousel-item {
  text-align: center;
  min-width: 80px;
}

.carousel-item img {
  height: 100px;
  height: 100px;
  object-fit: contain;
  
}

.carousel-item img.circular {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #020817;
}

.carousel-item p {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel:hover .carousel-track {
  animation-play-state: paused;
}

