.carousel {
    overflow: hidden;
    width: 100%;
    background-color: #030e28;
    padding: 20px 0;
  }
  
  .carousel-track {
    display: flex;
    gap: 20px;
    animation: scroll 160s linear infinite;
    align-items: center; /* Center the items vertically */
  }
  
  .carousel-item {
    text-align: center;
    min-width: 80px; /* Adjust width as per your design */
  }
  
  .carousel-item img {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Ensures the image is a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits within the circle */
    border: 1px solid #030e28; /* Adds a white border around the images */
  }
  
  .carousel-item p {
    margin-top: 8px;
    color: #fff; /* White color for the text */
    font-size: 12px; /* Adjust font size as needed */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .carousel:hover .carousel-track {
    animation-play-state: paused;
  }
  