.gradient-border {
    position: relative;
    background-clip: padding-box;
    border: solid 2px transparent;
  }
  
  .gradient-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, teal, blue);
  }